<!DOCTYPE html>
<html lang="en">
<%- include('./partials/headTag.ejs') %>

    <body>
        <h1>My Shows Hub</h1>

        <%- include('./partials/navBar.ejs') %>

            <h1>My Reading List</h1>
            <div class="col-s12-m5">

                <div class="cart">

                    <ul>
                        <% shows.forEach(show=> {%>
                            <li>
                                <a href="/<%= show._id %>">
                                    <%= show.title %>
                                </a>
                                <form action="/<%= show._id %>?_method=DELETE" method="POST"
                                    style="display: inline; margin-left: 15px;">
                                    <input type="submit" value="DELETE" />
                                </form>
                                <a href="/<%=show._id %>/edit">Edit</a>

                            </li>
                            <% }) %>
                    </ul>
                    
                </div>

            </div>

            <footer>
                <a href="https://animixplay.to/">Watch your favorite anime Here!</a>
            </footer>

    </body>

</html>