<!DOCTYPE html>
<html lang="en">

<%- include('./partials/headTag.ejs') %>


<body>
    <h1>My Shows Hub</h1>

    <%- include('./partials/navBar.ejs') %>

    <h2>New Show</h2>
    <div class="cart">
        <h3>Title</h3><%= show.title %> <br/ >
        <h3>Description</h3><%=  show.description %> <br />
        <h3>Sources</h3><%= show.sources %> <br />
    </div>
    <br />
    <br />
    <br />
    <footer>
        <a href="https://animixplay.to/">Watch your favorite anime Here!</a>
    </footer>

</body>

</html>