<!DOCTYPE html>
<html lang="en">

<%- include('./partials/headTag.ejs') %>


<body>
    <h1>My Shows Hub</h1>

    <%- include('./partials/navBar.ejs') %>

    <h2>New Show</h2>

        Title: <%= show.title %> <br/ >
        Description: <%=  show.description %> <br />
        Sources: <%= show.sources %> <br />
    <br />
    <br />
    <br />
    <footer>
        <a href="https://animixplay.to/">Watch your favorite anime Here!</a>
    </footer>

</body>

</html>